<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required to see all installed packages on Android 11+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".DroidProbeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="DroidProbe"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Test activities for verifying extras detection -->
        <activity
            android:name=".test.TestDirectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.droidprobe.action.TEST_DIRECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test.TestInheritedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.droidprobe.action.TEST_INHERITED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Test content provider for verifying Content Provider Explorer -->
        <provider
            android:name=".test.TestContentProvider"
            android:authorities="com.droidprobe.test.provider"
            android:exported="true" />

        <!-- Test file provider for verifying FileProvider Browser -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.droidprobe.test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/test_file_paths" />
        </provider>
    </application>
</manifest>
